.setting-box {
    width: 17em;
}
/*--------------------------------------------------------------
# webkit scrollbar
--------------------------------------------------------------*/

/* Webkit Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    display: none;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    display: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: crimson;
    display: none;
  } 
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: crimson;
    display: none;
  } 
  